$text-color:green; 
$size: 2rem;
$Pcolor:rgb(96, 96, 246);
$Scolor:lightblue;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700

);

$hide: true; 
$Ohide:true;

@mixin hide {
    display: none;
  }

$mycolors:(
    "stark":blue,
    "light":pink,
    "Xstark":black
    

);


@mixin fontstyle{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 5rem;
    color: white;
}

@mixin hide{
    $hide: true;
    display: none;
}

@mixin Ohide{
    $Ohide:true;
    &:hover{
        display: none
    }
}


@function weight($weight){
    @return map-get($font-weights,$weight);
}

@function mycolors($colors){
    @return map-get($mycolors,$colors);
};

.main{
    
  @if $Ohide {
    @include Ohide; 
  }

    background-color: $Scolor;
    color:mycolor(light);
    background-color: mycolors(stark);
    .section{
        font-weight:weight(bold)
    }
}




.p1 {

}

